<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetHall"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Ui.Dashboard.PantryOrderedListActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.PantryOrderPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.ScannerDeviceDashboard.ScannerDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.PantryDashboard.PantryActivity"
            android:exported="false" />

        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Ui.Dashboard.InMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.MeetingListActivity"
            android:exported="false" />

        <receiver
            android:name=".UtilHelper.NetworkReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Ui.Dashboard.EditContentActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.CreateMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.RoomListActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.CreateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.EmployeeListActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Ui.Dashboard.OrganizerListActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Dashboard.CreateEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.StartActivity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.StartActivity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.StartActivity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>